@import '../node_modules/codemirror/lib/codemirror.css';

.CodeMirror {
  flex: 1;
  border: 1px solid silver;
}

.jsonm-container {
  display: flex;
  flex-direction: row;
}

.jsonm-col {
  flex: 0 0 50%;

  display: flex;
  flex-direction: column;
}

.jsonm-cell {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.jsonm-editor,
.jsonm-output {
  flex: 1;
}

.jsonm-console {
  flex: 0 0 60px;
}
